/* Layout Styles */
.container {
  max-width: 980px; 
  margin: auto;
}
.wrapper {
  width: 100%; 
  padding: 40px;  
}
.wrapper.d-flex {
  min-height: 80vh;
}
.parent {
  display: flex;
  justify-content: space-between;
}
.col-6 {
  flex-basis: 50%;
}
.spacer {
  padding: 20px;
}
/* Aside / Article Styles */
aside {
  flex: 0 0 25%;
}
article {
  flex: 0 1 calc(75% - 40px);  
  width: calc(75% - 40px) 
}
aside ul {
  margin: 20px 0 30px 0;
}
aside li {
  padding: 2px 0;  
  position: relative;
  font-size: 13px;
}
aside  li a {
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
aside ul ul li {
  margin-left: 20px;
}
/* Form Styles */
.user-form {    
  margin: auto;
  box-shadow: var(--box-shadow);
  padding: 40px;
  flex-basis: 480px;
  position: relative;
  background: white;  
}
::placeholder {
  color: #999;
}
label {
  display: block;
  position: relative;
}
.hidden-input {
  display: none;
}
.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* MDB Table Styles */
.mdb-datatable > div:nth-child(2) {
  border: solid 1px #ccc;
  margin-top: 20px;
}
.mdb-datatable tr:nth-child(even) {
  background: #f6f5f5;
}
.cart-table > div:first-child {
  border: solid 1px #ccc;
}
.cart-table > div:nth-child(2) {
  border: none;
  margin-top: 0;
  height: 0;
  overflow: hidden;
}
/* Product Page Styles */
.portrait .parent {
  flex-direction: column;
  justify-content: center;
}
/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
}
.pagination a {
  height: 30px; 
  line-height: 30px; 
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li.disabled a {
  pointer-events: none;
  opacity: 0.4; 
}
.pagination li.active a {
  color: #fff; 
  background: var(--primary-color); 
  border-color: var(--primary-color);
  border-radius: 100%;
  pointer-events: none;
}
.pagination a:hover {
  color: #fff; 
  background: var(--secondary-color); 
  border-color: var(--secondary-color);
}
/* Thumbnail Styles */
.thumbnails {    
  display: flex; 
  flex-wrap: wrap;  
  margin: 0 -5px 20px 0;
}
.thumbnails li {
  margin: 0 5px 0 0;  
  width: 125px; 
  height: 75px; 
  overflow: hidden;
  border: solid 1px #ccc;
  background: white;  
}
.thumbnails img:hover {
  cursor: zoom-in; 
  opacity: 0.5;
}
/* Gallery styles */
.showroom { 
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 20px -15px;
}
.showroom-item {
  display: flex; 
  flex-direction: column;   
  justify-content: space-between;
  flex: 1 0 180px;
  align-items: center;
  border: solid 1px #ddd;
  height: 420px; 
  padding: 20px 0; 
  margin: 0 10px 30px 10px;                              
  transition: all var(--speed);
}
.showroom-item:hover {
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px   rgb(0 0 0 / 3%), 
              0 6.7px 5.3px   rgb(0 0 0 / 5%), 
              0 12.5px 10px   rgb(0 0 0 / 6%), 
              0 22.3px 17.9px rgb(0 0 0 / 7%), 
              0 41.8px 33.4px rgb(0 0 0 / 9%), 
              0 100px 80px    rgb(0 0 0 / 12%);
}
.showroom-item > div {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;  
  height: 50%;
  width: 100%;
  max-width: 240px;
}
.showroom-item figure {
  display: flex;
  width: 90%;
  overflow: hidden;
}
.showroom-item > div:first-child {   
  justify-content: center;
  align-items: center;
  height: 50%;
}
/* Alert Styles */
#__react-alert__ {
  position: relative;
  z-index: 9999;
}
#__react-alert__ > div:before {
  content: '';
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  height: 200vh; 
}
#__react-alert__ > div > div > div {
  background: white !important;
  color: #333 !important; 
  text-transform: capitalize !important;  
  padding: 40px !important;
  position: relative;
}
#__react-alert__ button {
  position: absolute;
  top: 10px;
  right: 10px;
}
#__react-alert__ button svg {
  stroke: #333 !important;    
}
/* Media Queries */
@media ( max-width: 768px ) {
  .container {
    max-width: 480px;
  }
  .wrapper {
    padding: 30px;
  }
 .wrapper.d-flex {
    display: block;
    min-height: 0;
  }
  .parent {
    flex-direction: column;
  }
  .parent.row {
    flex-direction: row;
  }
  article {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .container, main {
    min-height: 0;
  }
  .filters {
    display: inline-block;
  }
  .thumbnails li { 
    max-width: 50%;
    margin: 0;
  }
  .blog-content div,
  .blog-content figure {
    text-align: center !important;    
    float: none !important;
    margin: 0 auto !important;
  }
  .spacer {
    padding: 20px;
  }
 }
 @media ( max-width: 480px ) {   
  .wrapper,
  .user-form {
      padding: 30px 10px;   
  }
}